{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
         Welcome to Totally Fresh store where you can buy Fruits & Veggies.....
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }} - Totally Fresh Store
    {% else %}
         See our various items - Totally Fresh Store
    {% endif %}
{% endblock %}

{% block content %}
{% if category %}
    <div>
        <div class="row my_row_class">
            <div class="mx_auto">
                <p><a href="{% url 'shop:allProdCat' %}">'Our Fresh Products'</a></p>
        </div>
            </div>
    </div>
    {% endif %}
<div class="mx_auto">
    {% if category %}
       <img class=" card my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
    <br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
{% else %}
<div class="card">
    <center><img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="Our Products" width="1125px;" height="500px;"></center>
</div>
<br>
<div>
    <h1 class="text-center my_title">Our Products Collections</h1>
    <p class="text-justify">Shop and grow vegetable seeds and plants perfect for your garden. A growing body of research proves that fruits and vegetables are critical to promoting good health. It helps to reduce your risk of heart disease, high blood pressure,type II diabetic and certain cancers. Fruits and vegetables have many important phytochemicals that help fight to protect your health. Because they're low in calories and high in fiber, fruits and vegetables can help you control your weight.They are a natural source of energy and give the body many nutrients you need to keep going. </p>
</div>
{% endif %}
<div class="container">
   <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="min-width:18rem;">
            <a class="card col-12 col-sm-12 col-lg-12" href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" style="width:350px; height:250px;" alt="{{product.name}}"></a>
                <div>
                <div class="card-body text-center">

                    <h4>{{product.name}}</h4>
                    <p>₹{{product.price}}</p>

                   </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>

{% endblock %}